{
  acme_ca https://acme.zerossl.com/v2/DV90
  acme_eab {
    key_id {$EAB_KEY_ID}
    mac_key {$EAB_MAC_KEY}
  }
}

(common) {
  encode zstd gzip
  header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
}

git.cy7.sh, git.cything.io {
  import common
  reverse_proxy unix//run/gitlab/gitlab-workhorse.socket
}

rss.cything.io {
  import common
  reverse_proxy localhost:8080
}

photos.cy7.sh {
  import common
  reverse_proxy localhost:2283
}

matrix.cy7.sh, chat.cything.io {
  import common
  reverse_proxy localhost:8448
}

pass.cy7.sh {
  import common
  reverse_proxy localhost:8081
}

dns.cything.io {
  import common
  reverse_proxy localhost:8082
}

ntfy.cything.io {
  import common
  reverse_proxy localhost:8083
}

cything.io {
  import common
  uri strip_prefix /blog
  reverse_proxy /.well-known/matrix/* localhost:8448
  reverse_proxy /_matrix/* localhost:8448
  reverse_proxy localhost:8084
}

www.cything.io {
  import common
  redir https://cything.io{uri} permanent
}

pad.cything.io {
  import common
  reverse_proxy localhost:8085
}

red.cything.io {
  import common
  reverse_proxy localhost:8087
}

grafana.cything.io {
  import common
  reverse_proxy localhost:8088
}

warez.cything.io {
  import common
  reverse_proxy localhost:8096
}

t.cything.io {
  import common
  reverse_proxy localhost:8112
}
